<div style="width: 750px;">
  <form id="animationTemplate-settings-form">
    <h2>{{localize 'SWADESFXVFX.animationTemplateSelectLabel'}}</h2>
    <hr class="solid">
    <div class="form-group">
      <div class="animationListImport" style="border: 1px solid; text-align: center">
        <br>
        <br>
        <br>
        {{ localize "SWADESFXVFX.dragDropImportJsonMessage" }}
        <br>
        <br>
        <br>
      </div>&nbsp;&nbsp;
      <div class="form-fields">
        {{#if animationTemplateList}}
          <table id="animationTemplateList" data-pagecount="5">
            <thead>
              <tr>
                <th style="text-align:center">{{ localize "SWADESFXVFX.animationTemplateName" }}</th>
                <th style="text-align:center">{{ localize "SWADESFXVFX.animationTemplateFile" }}</th>
                <th style="text-align:center" colspan="2">{{localize 'SWADESFXVFX.download'}}: <i class="fas fa-download swadesfxvfxDownload"></i></th>
              </tr>
            </thead>
            <tbody>
              {{#each animationTemplateList}}
                <tr>
                  <td style="text-align:center">{{this.animationTemplateName}}</td>
                  <td style="text-align:center"><button id="SWADESFXVFX-play-animation-template-{{@index}}" title="{{this.animationTemplateFile}}"
                      onclick="game.swadesfxafx.playAnimation('{{this.animationTemplateFile}}', '{{this.animationTemplateSpeed}}', '{{this.animationTemplateXScale}}','{{this.animationTemplateXScaleManual}}', '{{this.animationTemplateYScale}}', '{{this.animationTemplateYScaleManual}}', {{this.animationTemplateAngle}}, {{this.animationTemplateAnchorX}}, {{this.animationTemplateAnchorY}}, '{{this.animationTemplateTarget}}', canvas.tokens.controlled[0], Array.from(game.user.targets)[0]);return false;">
                      <i class="fas fa-play-circle"></i></button></td>
                  <td style="text-align:center"><button id="SWADESFXVFX-edit-audio-template-{{@index}}"
                      onclick="document.getElementById('animationTemplateName').value='{{this.animationTemplateName}}';document.getElementById('animationTemplateFile').value=decodeURI('{{this.animationTemplateFile}}');document.getElementById('animationTemplateXScale').value='{{this.animationTemplateXScale}}';document.getElementById('animationTemplateXScaleManual').value='{{this.animationTemplateXScaleManual}}';document.getElementById('animationTemplateYScale').value='{{this.animationTemplateYScale}}';document.getElementById('animationTemplateYScaleManual').value='{{this.animationTemplateYScaleManual}}';document.getElementById('animationTemplateTarget').value='{{this.animationTemplateTarget}}';document.getElementById('animationTemplateSpeed').value='{{this.animationTemplateSpeed}}';document.getElementById('animationTemplateAnchorX').value='{{this.animationTemplateAnchorX}}';document.getElementById('animationTemplateAnchorY').value='{{this.animationTemplateAnchorY}}';document.getElementById('animationTemplateAngle').value='{{this.animationTemplateAngle}}';('{{animationTemplateXScale}}'=='manual')?document.getElementById('animationTemplateXScaleManual').disabled=false:document.getElementById('animationTemplateXScaleManual').disabled=true;('{{animationTemplateYScale}}'=='manual')?document.getElementById('animationTemplateYScaleManual').disabled=false:document.getElementById('animationTemplateYScaleManual').disabled=true;return false;"><i
                        class="fas fa-edit"></i></button></td>
                  <td style="text-align:center"><i id="SWADESFXVFX-delete-animation-template-{{@index}}" class="fas fa-trash-alt swadesfxvfsDelete"></i></td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        {{else}}
          {{ localize "SWADESFXVFX.noAnimationTemplate" }}
        {{/if}}
      </div>

    </div>
    <h2>{{localize 'SWADESFXVFX.animationAddEdit'}}</h2>
    <hr class="solid">
    <div class="form-group">
      <label>{{ localize "SWADESFXVFX.animationTemplateNameLabel" }}</label>
      <div class="form-fields">
        <input type="text" name="animationTemplateName" id="animationTemplateName" title="{{ localize "SWADESFXVFX.animationTemplateNameTitle" }}">
      </div>
      <p class="notes">{{localize 'SWADESFXVFX.animationTemplateNameHint'}}</p>
    </div>
    <hr class="solid">
    <div class="form-group">
      <label>{{localize 'SWADESFXVFX.animationTemplateFilePickerLabel'}}:</label>
      <div class="form-fields">
        <button id="animationTemplateFileButton" type="button" class="file-picker" data-type="imagevideo" data-target="animationTemplateFile" title="{{localize 'SWADESFXVFX.animationTemplateFilePickerTitle'}}" tabindex="-1">
          <i class="fas fa-file-import fa-fw"></i>
        </button>
        <input id="animationTemplateFile" name="animationTemplateFile" type="text" value="{{animationTemplateFile}}" />
      </div>
      <p class="notes">{{localize 'SWADESFXVFX.animationTemplateFilePickerHint'}}</p>
    </div>

    <!--<div class="form-group">
        <label>{{localize 'SWADESFXVFX.animationTemplateEaseLabel'}}:</label>
        <div class="form-fields">
            <select id="animationTemplateEase" name="animationTemplateEase" style="width: 50px;">
                {{#select animationTemplateEaseList}}
                {{#each animationTemplateEaseList}}
                <option value="{{this.value}}" {{#if this.selected}}selected="selected" {{/if}}>{{this.value}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>
        <p class="notes">{{localize 'SWADESFXVFX.animationTemplateEaseHint'}}</p>
    </div>-->
    <hr class="solid">
    <div class="form-group">
      <label>{{localize 'SWADESFXVFX.animationTemplateXScaleLabel'}}:</label>
      <div>
        <select id="animationTemplateXScale" name="animationTemplateXScale">
          <option value="1.0" {{#if this.selected}}selected="selected" {{/if}}>{{localize 'SWADESFXVFX.animationTemplateXScaleLabelOriginal'}}</option>
          <option value="auto" {{#if this.selected}}selected="selected" {{/if}}>{{localize 'SWADESFXVFX.animationTemplateXScaleLabelAuto'}}</option>
          <option value="manual" {{#if this.selected}}selected="selected" {{/if}}>{{localize 'SWADESFXVFX.animationTemplateXScaleLabelManual'}}</option>
        </select>
        <input id="animationTemplateXScaleManual" name="animationTemplateXScaleManual" type="text" value="" maxlength="5" size="5" disabled style="width: 50px !important;" />
      </div>
      <p class="notes">{{localize 'SWADESFXVFX.animationTemplateXScaleHint'}}</p>
    </div>
    <hr class="solid">
    <div class="form-group">
      <label>{{localize 'SWADESFXVFX.animationTemplateYScaleLabel'}}:</label>
      <div>
        <select id="animationTemplateYScale" name="animationTemplateYScale">
          <option value="1.0" {{#if this.selected}}selected="selected" {{/if}}>{{localize 'SWADESFXVFX.animationTemplateYScaleLabelOriginal'}}</option>
          <option value="auto" {{#if this.selected}}selected="selected" {{/if}}>{{localize 'SWADESFXVFX.animationTemplateYScaleLabelAuto'}}</option>
          <option value="manual" {{#if this.selected}}selected="selected" {{/if}}>{{localize 'SWADESFXVFX.animationTemplateYScaleLabelManual'}}</option>
        </select>
        <input id="animationTemplateYScaleManual" name="animationTemplateYScaleManual" type="text" value="" maxlength="5" size="5" disabled style="width: 50px !important;" />
      </div>
      <p class="notes">{{localize 'SWADESFXVFX.animationTemplateYScaleHint'}}</p>
    </div>
    <hr class="solid">
    <div class="form-group">
      <label>{{localize 'SWADESFXVFX.animationTemplateTargetLabel'}}:</label>
      <div class="form-fields">
        <select id="animationTemplateTarget" name="animationTemplateTarget" style="width: 50px;">
          <option value="" {{#if this.selected}}selected="selected" {{/if}}>{{localize 'SWADESFXVFX.animationTemplateTokenTarget'}}</option>
          <option value="target" {{#if this.selected}}selected="selected" {{/if}}>{{localize 'SWADESFXVFX.animationTemplateInTarget'}}</option>
        </select>
      </div>
      <p class="notes">{{localize 'SWADESFXVFX.animationTemplateTargetHint'}}</p>
    </div>
    <hr class="solid">
    <div class="form-group">
      <label>{{localize 'SWADESFXVFX.animationTemplateSpeedLabel'}}:</label>
      <div class="form-fields">
        <select id="animationTemplateSpeed" name="animationTemplateSpeed" style="width: 50px;">
          <option value="0.001" {{#if this.selected}}selected="selected" {{/if}}>{{localize 'SWADESFXVFX.animationTemplateSpeedNoMove'}}</option>
          <option value="auto" {{#if this.selected}}selected="selected" {{/if}}>{{localize 'SWADESFXVFX.animationTemplateSpeedMove'}}</option>
        </select>
      </div>
      <p class="notes">{{localize 'SWADESFXVFX.animationTemplateSpeedHint'}}</p>
    </div>
    <hr class="solid">
    <div class="form-group">
      <label style="flex: 4 !important;">{{localize 'SWADESFXVFX.animationTemplateAnchorLabel'}}:</label>

      <div style="text-align: right !important;">
        X: <input id="animationTemplateAnchorX" name="animationTemplateAnchorX" type="text" value="" maxlength="8" size="8" style="width: 50px;" />
      </div>

      <div style="text-align: center !important;">
        Y: <input id="animationTemplateAnchorY" name="animationTemplateAnchorY" type="text" value="" maxlength="8" size="8" style="width: 50px;" />
      </div>
      <p class="notes">{{localize 'SWADESFXVFX.animationTemplateAnchorHint'}}</p>
    </div>
    <hr class="solid">
    <div class="form-group">
      <label>{{localize 'SWADESFXVFX.animationTemplateAngleLabel'}}:</label>
      <div class="form-fields">
        <input id="animationTemplateAngle" name="animationTemplateAngle" type="text" value="" maxlength="5" size="5" />
      </div>
      <p class="notes">{{localize 'SWADESFXVFX.animationTemplateAngleHint'}}</p>
    </div>
    <hr class="solid">
    <div class="form-group">
      <label>{{localize 'SWADESFXVFX.animationTestLabel'}}:</label>
      <div style="text-align: left !important">
        <button id="SWADESFXVFX-play-animation-test" title="{{localize 'SWADESFXVFX.animationTemplateTestTitle'}}"
          onclick="game.swadesfxafx.playAnimation(document.getElementById('animationTemplateFile').value, document.getElementById('animationTemplateSpeed').value, document.getElementById('animationTemplateXScale').value, document.getElementById('animationTemplateXScaleManual').value, document.getElementById('animationTemplateYScale').value,  document.getElementById('animationTemplateYScaleManual').value, document.getElementById('animationTemplateAngle').value, document.getElementById('animationTemplateAnchorX').value, document.getElementById('animationTemplateAnchorY').value, document.getElementById('animationTemplateTarget').value, canvas.tokens.controlled[0], Array.from(game.user.targets)[0]);return false;">
          <i class="fas fa-play-circle"></i></button>
      </div>
      <p class="notes">{{localize 'SWADESFXVFX.animationTemplateTestHint'}}</p>
    </div>

    <button type="submit">
      <i class="fas fa-save"></i>{{localize "SWADESFXVFX.save"}}
    </button>
  </form>
</div>
