<form id="audioTemplate-settings-form">
  <h2>{{localize 'SWADESFXVFX.audioTemplateSelectLabel'}}</h2>
    <hr class="solid">
    <div class="form-group">
        <div class="audioListImport" style="border: 1px solid; text-align: center">
            <br>
            <br>
            <br>
            {{ localize "SWADESFXVFX.dragDropImportJsonMessage" }}
            <br>
            <br>
            <br>
        </div>&nbsp;&nbsp;
        <div class="form-fields">
            {{#if audioTemplateList}}
                <table id="audioTemplateList" data-pagecount="5">
                    <thead>
                        <tr>
                            <th style="text-align:center">{{ localize "SWADESFXVFX.audioTemplateName" }}</th>
                            <th style="text-align:center">{{ localize "SWADESFXVFX.audioTemplateFile" }}</th>
                            <th style="text-align:center">{{ localize "SWADESFXVFX.audioTemplateVolume" }}</th>
                            <th style="text-align:center" colspan="2">{{localize 'SWADESFXVFX.download'}}: <i class="fas fa-download swadesfxvfxDownload"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each audioTemplateList}}
                            <tr>
                                <td style="text-align:center">{{this.audioTemplateName}}</td>
                                <td style="text-align:center"><button id="SWADESFXVFX-play-audio-template-{{@index}}" title="{{this.audioTemplateFile}}" onclick="AudioHelper.play({
                      src: '{{this.audioTemplateFile}}', volume: '{{this.audioTemplateVolume}}', autoplay: true, loop: false}, false);return false;"><i class="fas fa-play-circle"></i></button></td>
                                <td style="text-align:center">{{this.audioTemplateVolume}}</td>
                                <td style="text-align:center"><button id="SWADESFXVFX-edit-audio-template-{{@index}}" onclick="document.getElementById('audioTemplateName').value='{{this.audioTemplateName}}';document.getElementById('audioTemplateVolume').value='{{this.audioTemplateVolume}}';document.getElementById('audioTemplateFile').value=decodeURI('{{this.audioTemplateFile}}');return false;"><i class="fas fa-edit"></i></button></td>
                                <td style="text-align:center"><i id="SWADESFXVFX-delete-audio-template-{{@index}}" class="fas fa-trash-alt swadesfxvfsDelete"></i></td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            {{else}}
                {{ localize "SWADESFXVFX.noAudioTemplate" }}
            {{/if}}
        </div>

    </div>
      <h2>{{localize 'SWADESFXVFX.audioAddEdit'}}</h2>
    <hr class="solid">
    <div class="form-group">
        <label>{{ localize "SWADESFXVFX.audioTemplateNameLabel" }}</label>
        <div class="form-fields">
            <input type="text" name="audioTemplateName" id="audioTemplateName" title="{{ localize "SWADESFXVFX.audioTemplateNameTitle" }}">
        </div>
        <p class="notes">{{localize 'SWADESFXVFX.audioTemplateNameHint'}}</p>
    </div>

    <div class="form-group">
        <label>{{localize 'SWADESFXVFX.audioTemplateFilePickerLabel'}}:</label>
        <div class="form-fields">
            <button id="audioTemplateFileButton" type="button" class="file-picker" data-type="audio" data-target="audioTemplateFile" title="{{localize 'SWADESFXVFX.audioTemplateFilePickerTitle'}}" tabindex="-1">
                <i class="fas fa-file-import fa-fw"></i>
            </button>
            <input id="audioTemplateFile" name="audioTemplateFile" type="text" value="{{audioTemplateFile}}" />
        </div>
        <p class="notes">{{localize 'SWADESFXVFX.audioTemplateFilePickerHint'}}</p>
    </div>

    <div class="form-group">
        <label>{{localize 'SWADESFXVFX.audioTemplateVolumeLabel'}}</label>
        <div class="form-fields">
            <input name="audioTemplateVolume" id="audioTemplateVolume" value="1.0" min="0" max="2.0" title="{{localize 'SWADESFXVFX.audioTemplateVolumeTittle'}}">
        </div>
        <p class="notes">{{localize 'SWADESFXVFX.audioTemplateVolumeHint'}}</p>
    </div>
    <button type="submit">
        <i class="fas fa-save"></i>{{localize "SWADESFXVFX.save"}}
    </button>
</form>
