<div class="animation-and-sound-tab-contents">
  {{#if tokenMagicData.tokenMagic}}
    <hr class="solid">
    <div style="text-align: right !important;">
      {{localize 'SWADESFXVFX.upload'}}
      {{localize 'SWADESFXVFX.download'}}: <i class="fas fa-download swadesfxvfxDownload"></i>
    </div>
    <hr class="solid">
    <div class="form-group">
      <label><i class="far fa-question-circle" title="{{localize 'SWADESFXVFX.animationTokenMagicTokenHint'}}"></i> {{localize 'SWADESFXVFX.animationTokenMagicTokenLabel'}}:</label>
      <div class="form-fields">
        <select id="flags.swadesfxvfx.tokenMagicData.macrosToken" name="flags.swadesfxvfx.tokenMagicData.macrosToken">
          {{#select tokenMagicData.macrosToken}}
            {{#each tokenMagicData.macrosToken}}
              <option value="{{this.name}}" {{#if this.selected}}selected="selected" {{/if}}>{{this.name}}</option>
            {{/each}}
          {{/select}}
        </select>
      </div>
    </div>

    <div class="form-group">
      <label style="flex: 4 !important;"><i class="far fa-question-circle" title="{{localize 'SWADESFXVFX.animationTokenMagicTokenDelayHint'}}"></i> {{localize 'SWADESFXVFX.animationTokenMagicTokenDelayLabel'}}:</label>
      <div style="text-align: right !important;">
        {{localize 'SWADESFXVFX.animationTokenMagicTokenDelay'}}: <input id="flags.swadesfxvfx.tokenMagicData.macroTokenDelay" name="flags.swadesfxvfx.tokenMagicData.macroTokenDelay" type="text" value="{{tokenMagicData.macroTokenDelay}}"
          maxlength="8" size="8" style="width: 50px;" />
      </div>
    </div>

    <div class="form-group">
      <label style="flex: 4 !important;"><i class="far fa-question-circle" title="{{localize 'SWADESFXVFX.animationTokenMagicTokenDurationHint'}}"></i> {{localize 'SWADESFXVFX.animationTokenMagicTokenDurationLabel'}}:</label>
      <div style="text-align: right !important;">
        {{localize 'SWADESFXVFX.animationTokenMagicTokenDuration'}}: <input id="flags.swadesfxvfx.tokenMagicData.macroTokenDuration" name="flags.swadesfxvfx.tokenMagicData.macroTokenDuration" type="text" value="{{tokenMagicData.macroTokenDuration}}"
          maxlength="8" size="8" style="width: 50px;" />
      </div>
    </div>
  {{/if}}

  <hr class="solid">

  <div class="form-group">
    <label><i class="far fa-question-circle" title="{{localize 'SWADESFXVFX.animationTemplateInItemHint'}}"></i> {{localize 'SWADESFXVFX.animationTemplateInItemLabel'}}:</label>
    <div class="form-fields">
      <select id="flags.swadesfxvfx.animationTemplate" name="flags.swadesfxvfx.animationTemplate">
        {{#select animationTemplates.animationTemplateList}}
          {{#each animationTemplates.animationTemplateList}}
            <option value="{{this.animationTemplateName}}" {{#if this.selected}}selected="selected" {{/if}}>{{this.animationTemplateName}}</option>
          {{/each}}
        {{/select}}
      </select>
    </div>
  </div>

  <div class="form-group">
    <label style="flex: 4 !important;"><i class="far fa-question-circle" title="{{localize 'SWADESFXVFX.animationDelayHint'}}"></i> {{localize 'SWADESFXVFX.animationDelayLabel'}}:</label>
    <div style="text-align: right !important;">
      {{localize 'SWADESFXVFX.animationDelay'}}: <input id="flags.swadesfxvfx.animationDelay" name="flags.swadesfxvfx.animationDelay" type="text" value="{{animationDelay}}" maxlength="8" size="8" style="width: 50px;" />
    </div>
  </div>

  <hr class="solid">

  <div class="form-group">
    <label><i class="far fa-question-circle" title="{{localize 'SWADESFXVFX.audioTemplateInItemHint'}}"></i> {{localize 'SWADESFXVFX.audioTemplateInItemLabel'}}:</label>
    <div class="form-fields">
      <select id="flags.swadesfxvfx.audioTemplate" name="flags.swadesfxvfx.audioTemplate">
        {{#select audioTemplates.audioTemplateList}}
          {{#each audioTemplates.audioTemplateList}}
            <option value="{{this.audioTemplateName}}" {{#if this.selected}}selected="selected" {{/if}}>{{this.audioTemplateName}}</option>
          {{/each}}
        {{/select}}
      </select>
    </div>
  </div>

  <div class="form-group">
    <label style="flex: 4 !important;"><i class="far fa-question-circle" title="{{localize 'SWADESFXVFX.audioDelayHint'}}"></i> {{localize 'SWADESFXVFX.audioDelayLabel'}}:</label>
    <div style="text-align: right !important;">
      {{localize 'SWADESFXVFX.audioDelay'}}: <input id="flags.swadesfxvfx.audioDelay" name="flags.swadesfxvfx.audioDelay" type="text" value="{{audioDelay}}" maxlength="8" size="8" style="width: 50px;" />
    </div>
  </div>

  {{#if tokenMagicData.tokenMagic}}
    <hr class="solid">
    <div class="form-group">
      <label><i class="far fa-question-circle" title="{{localize 'SWADESFXVFX.animationTokenMagicTargetHint'}}"></i> {{localize 'SWADESFXVFX.animationTokenMagicTargetLabel'}}:</label>
      <div class="form-fields">
        <select id="flags.swadesfxvfx.tokenMagicData.macrosTarget" name="flags.swadesfxvfx.tokenMagicData.macrosTarget">
          {{#select tokenMagicData.macrosTarget}}
            {{#each tokenMagicData.macrosTarget}}
              <option value="{{this.name}}" {{#if this.selected}}selected="selected" {{/if}}>{{this.name}}</option>
            {{/each}}
          {{/select}}
        </select>
      </div>
    </div>

    <div class="form-group">
      <label style="flex: 4 !important;"><i class="far fa-question-circle" title="{{localize 'SWADESFXVFX.animationTokenMagicTargetDelayHint'}}"></i> {{localize 'SWADESFXVFX.animationTokenMagicTargetDelayLabel'}}:</label>
      <div style="text-align: right !important;">
        {{localize 'SWADESFXVFX.animationTokenMagicTargetDelay'}}: <input id="flags.swadesfxvfx.tokenMagicData.macroTargetDelay" name="flags.swadesfxvfx.tokenMagicData.macroTargetDelay" type="text" value="{{tokenMagicData.macroTargetDelay}}"
          maxlength="8" size="8" style="width: 50px;" />
      </div>
    </div>

    <div class="form-group">
      <label style="flex: 4 !important;"><i class="far fa-question-circle" title="{{localize 'SWADESFXVFX.animationTokenMagicTargetAnimationDurationHint'}}"></i> {{localize 'SWADESFXVFX.animationTokenMagicTargetAnimationDurationLabel'}}:</label>
      <div style="text-align: right !important;">
        {{localize 'SWADESFXVFX.animationTokenMagicTargetAnimationDuration'}}:
        <input type="checkbox" vale="true" id="flags.swadesfxvfx.tokenMagicData.macroTargetAnimationDuration" name="flags.swadesfxvfx.tokenMagicData.macroTargetAnimationDuration"
            {{#if tokenMagicData.macroTargetAnimationDuration}}checked="checked"{{/if}}>
      </div>
    </div>

    <div class="form-group">
      <label style="flex: 4 !important;"><i class="far fa-question-circle" title="{{localize 'SWADESFXVFX.animationTokenMagicTargetDurationHint'}}"></i> {{localize 'SWADESFXVFX.animationTokenMagicTargetDurationLabel'}}:</label>
      <div style="text-align: right !important;">
        {{localize 'SWADESFXVFX.animationTokenMagicTargetDuration'}}: <input id="flags.swadesfxvfx.tokenMagicData.macroTargetDuration" name="flags.swadesfxvfx.tokenMagicData.macroTargetDuration" type="text"
          value="{{tokenMagicData.macroTargetDuration}}" maxlength="8" size="8" style="width: 50px;" />
      </div>
    </div>
  {{/if}}

</div>
